body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

.data-container{
    padding: 20px;
    border: 1px solid #0f4;
    margin: 20px;
}
.profile-image{
    width: 100px;
    height: auto;
    border-radius: 100%;
}
